<section class="bg-success text-light  text-start p-5">
    <div class="container">
      <div class="d-md-flex flex-column">
        <div class="row flex-columm">
        <div class="col-md" >
          <img class="img-fluid avatar w-30  ms-auto d-md-block" src="/Assets/images/avatar.jpg" alt="">
          <h4 class="text-info text-center">Nguyen, Huynh Quang Vinh</h4>
        </div>
        <div class="col-md" >
          <div class="px-2 text-md-start">
          <p>
            <h1 class="text-warning"><i class="fa-solid fa-graduation-cap"></i> <ins>Degree</ins></h1>
            - International Business - Bachelor <br>
            - Informatics System Management - Diploma <br>
            - Software Engineering, major in AI - Advanced Diploma <br>
          </p>
        </div>
        <div class="px-2 text-md-start">
          <p>
            <h1 class="text-warning"><i class="fa-solid fa-laptop-file"></i> <ins>Jobs</ins></h1>
            - Process and Technology Analyst <br>
            - Operation Manager <br>
            - Strategy Manager <br>
            - Key Account Manager <br>
            - Costing Analyst <br>
          </p>
        </div>
        </div>
        <div class="col-md" >
          <div class="px-2 text-md-start">
            <p>
              <h1 class="text-warning"><i class="fa-brands fa-gratipay"></i> <ins> Interest</ins></h1>
              - Do community involvement projects <br>
              - Play sports <br>
              - Research <br>
              <br>
            </p>
          </div>
          <div class="px-2 text-md-start">
            <p>
              <h1 class="text-warning"><i class="fa-regular fa-address-card"></i> <ins>Contact</ins></h1>
              - <i class="fa-solid fa-square-envelope"></i>: vinh.nguyenhuynhquang@gmail.com<br>
              - <i class="fa-solid fa-square-phone"></i>: +1 647 469 7919<br>
              - <i class="fa-solid fa-location-dot"></i>: 200 Colbeck Str, Toronto<br>
              - <i class="fa-solid fa-file-pdf"></i>: <a class="text-dark" href="/Assets/files/resume.pdf" download="Resume_VinhNguyen"> <span class="text-chocolate"><strong><i>dowload my resume</i></strong></span></a>
        
            </p>
          </div>
  
        </div>
      </div>
  
      </div>
    </div>
  </section>