<div class="container-fluid bg-success">
<div class="row no-gutters">
    <div class="col-lg-3 col-md-4 bg-black " >
      <img src="/Assets/images/avatar.jpg" class="avatar center" alt="">
      <h5 class="text-info">Nguyen, Huynh Quang Vinh</h5>
      <h6 class="text-success"><i class="fa-solid fa-square-envelope"></i>: vinh.nguyenhuynhquang@gmail.com</h6>
      <h6 class="text-success"><i class="fa-solid fa-square-phone"></i>: +1 647 469 7919</h6>
      <h6 class="text-success"><i class="fa-solid fa-location-dot"></i>: 200 Colbeck Str, Toronto</h6>
      <h6 class="text-success"><i class="fa-solid fa-file-pdf"></i>: <a href="/Assets/files/Resume_VinhNguyen.pdf" download="Resume_VinhNguyen">dowload my resume</a>  </h6>
    </div>
    <div class="col-lg-9 col-md-8 bg-success">
        <h2 class="text-center text-dark"><strong> <ins>About me</ins></strong></h2>
        <h6 class="text-beige"><i>"Hello! My name is Vinh Nguyen. I am currently an AI student at Centennial College in Toronto, Canada. </i></h6>
        <h6 class="text-beige"><i>Besides, I have two degrees in International Business and Software Management.</i></h6>
        <h6 class="text-beige"><i>I have years of experience in supply chain, sourcing and retails in multinational working environment as well as startup working environment.</i></h6>
        <h6 class="text-beige"><i>Hard working - Thinking out of the box - Dedication are the qualities that I put forward in everything I do!</i></h6>
        <h6 class="text-beige"><i>I love volunteer work! Recently, I volunteered to transport oxygen tanks in an ICU in a hopspital during COVID pandemic in 2021. </i></h6>
        <h6 class="text-beige"><i>I love data analysis! In 2021, I also supported the hospital to analyze data for the clinical study of Remdesivir.</i></h6>
        <h6 class="text-beige"><i>I am keen on playing outdoor sports such as Australian football, rugby, soccer and frisbee. </i></h6>
        <h6 class="text-beige"><i>I am looking for an opportunity to work in Data or AI projects and researches to excel more in those interesting fields." </i></h6>

    </div>
  </div>
</div>