<section class="p-1  bg-black">
<div class="container">
<h1 class="text-success text-center col-lg-6"><strong>Contact Form</strong></h1>
<form class="needs-validation justify-content-center" id="form" action="/contact/submit" method="POST" novalidate>
    <div class="col-lg-6 my-2">
      <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
      <div class="invalid-feedback">
        Please provide a valid name
      </div>
    </div>
    <div class="col-lg-6 my-2">
      <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
      <div class="invalid-feedback">
        Please provide a valid name
      </div>
    </div>

    <div class="col-lg-6 my-2">
      <input type="number" class="form-control" id="phoneNumber" placeholder="Phone number" required>
      <div class="invalid-feedback">
        Please provide a valid phone number
      </div>
    </div>

    <div class="col-lg-6 my-2">
      <input type="email" class="form-control"  id="email" placeholder="Email" required>
      <div class="invalid-feedback">
        Please provide a valid email
      </div>
    </div>

    <div class="col-lg-6 my-2">
      <textarea class="form-control" rows="5" id="validationTextarea" placeholder="Message" required></textarea>
      <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div>
    </div>

    <div class="col-lg-6 text-center my-2">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>

  <p id="log"></p>
<br>
<br>
</div>
</section>