<section class="bg-secondary text-light text-center text-md-start  p-5">
  <div class="container py-4">
    <div class="d-md-flex align-items-center justify-content-between">
      <div class="col-lg-6 cold-md-5">
        <h1>Welcome to my <span class="text-warning">Portfolio!</span></h1>
        <p class="lead">
          Hello! My name is <span class="text-info"> <strong>Vinh Nguyen</strong></span>.<br>
          I am an <span class="text-chocolate"><strong>AI Engineer</strong></span> , and I am very passionate and dedicated to my work. <br>
          I like challenge and love to be a problem solver. <br>
          Along with my diverse experience in business operation, I have acquired the skills and knowledge 
          necessary to <span><i><mark style="background-color: yellowgreen"><ins> make your project a success</ins> </mark></i></span>.
        </p>
      </div>
      <img class="img-fluid w-50 px d-none d-sm-block col-lg-6 cold-md-7" src="/Assets/images/AI.jpg" alt="">
    </div>
  </div>
</section>