<div class="container-fluid bg-success">
<div class="row no-gutters">
    <div class="col-lg-6 col-md-6 bg-warning " >
      <img src="/Assets/images/stephen.jpg" class="avatar center" alt="">
      <h5 class="text-beige"> <em> "It will either be the best thing that's ever happened to us, or it will be the worst thing. If we're not careful, 
        it very well may be the last thing."</em></h5>
      <h4 class="text-success">Stephen Hawking</h4>
    </div>
    <div class="col-lg-6 col-md-6 bg-success">
    </div>
  </div>
</div>