<section class="p-5 bg-success">
<div class="container ">
  <div class="row text-center ">
    <div class="col-md p-2">
      <div class="bg-dark text-light card">
        <div class="card-body text-center">
          <h1><i class="fas fa-code"></i></h1> 
          <h3 class="card-title mb-3">Software Development</h3>
          <p class="card-text text-md-start">I have Informactics Software Management degree and is a current student in 
            Software Engineering, major in AI, at Centennial College in Toronto, Canada.
            I has built a school management system website for my final capstone in the previous degree by using PHP language and Laravel framework.
            I also have fundemental knowledge in Java and C# and I am confident to pick up any new language or framework within a month.
          </p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md p-2">
      <div class="bg-secondary text-light card">
        <div class="card-body text-center">
          <h1><i class="fas fa-user-tie"></i></h1> 
          <h3 class="card-title mb-3">Business Solutions</h3>
          <p class="card-text text-md-start">
            I have diverse experience in business in different sectors. <br>
            My primary experience is in Supply Chain and Sourcing for multinational companies in Footwear industry such as adidas, Reebok and New Balance. <br>
            I also experience in operationa and strategy management for small and start up companies. <br>
            <br>
          </p>
          <a href="#" class="btn btn-dark">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md p-2">
      <div class="bg-dark text-light card">
        <div class="card-body text-center">
          <h1><i class="fas fa-microscope"></i></h1> 
          <h3 class="card-title mb-3">Sciencetific Research</h3>
          <p class="card-text text-md-start"> In 2021, I volunteered to be an oxygen-tank carrier in the ICU in the Hospital for 
            Tropical Disease in Ho Chi Minh City, Vietnam, which is the specialized hospital for Covid virus and all other
          types of viruses. At that time, they received a task from the government to study the efficience of Remdesivir which helps to treat
          Covid for patients in the early stages. I supported them to analyzed data for their clinical research at phase III.
         </p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>