<section class="p-5">
<div class="container">
  <div class="row text-center">
    <div class="col-md p-2">
      <div class="bg-dark text-light card">
        <div class="card-body text-center">
          <h1><i class="fa-solid fa-laptop m-3"></i></h1> 
          <h3 class="card-title mb-3">Virtual</h3>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel illum nisi maiores consequuntur porro odio ipsum distinctio quis esse, cumque velit corporis expedita praesentium dignissimos nemo fuga laboriosam aliquam earum.</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md p-2">
      <div class="bg-secondary text-light card">
        <div class="card-body text-center">
          <h1><i class="fa-solid fa-laptop m-3"></i></h1> 
          <h3 class="card-title mb-3">Virtual</h3>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel illum nisi maiores consequuntur porro odio ipsum distinctio quis esse, cumque velit corporis expedita praesentium dignissimos nemo fuga laboriosam aliquam earum.</p>
          <a href="#" class="btn btn-dark">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md p-2">
      <div class="bg-dark text-light card">
        <div class="card-body text-center">
          <h1><i class="fa-solid fa-laptop m-3"></i></h1> 
          <h3 class="card-title mb-3">Virtual</h3>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel illum nisi maiores consequuntur porro odio ipsum distinctio quis esse, cumque velit corporis expedita praesentium dignissimos nemo fuga laboriosam aliquam earum.</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>