<section class="p-5 bg-success">
    <div class="container">
      <div class="row text-center">
        <div class="col-md p-2">
          <div class="bg-dark text-light card">
            <div class="card-body text-center">
              <h1><i class="fas fa-keyboard"></i></h1> 
              <h3 class="card-title mb-3">Co-op Job</h3>
              <p class="card-text text-md-start">
                My current study program is Software Engineering (major in Artificial Intelligence) - Co-op program so I am interested in finding Co-op opportunities in Software, AI and Data sector. <br>
                <br>
                My Co-op program will start from the 2023 Summer Semester.
                <br>
                <br>  
                <br>
              </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-md p-2">
          <div class="bg-secondary text-light card">
            <div class="card-body text-center">
              <h1><i class="fas fa-user-tie"></i></h1> 
              <h3 class="card-title mb-3">Part-time Job</h3>
              <p class="card-text text-md-start">
                As an international student, I am looking for a job to self evaluate my skills
                and knowledge in a new labour market as well as gain experience in a Canadian working environment. <br>
                As a quick learner with dedicated attitude and working experiece in managing roles in Vietnam, I am confident
                that I could will provide the good services to meet the requirements and above for any jobs.
              </p>
              <a href="#" class="btn btn-dark">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-md p-2">
          <div class="bg-dark text-light card">
            <div class="card-body text-center">
              <h1><i class="fas fa-hands"></i></h1> 
              <h3 class="card-title mb-3">Volunteering</h3>
              <p class="card-text text-md-start"> I am also a contributor so I am keen on volunteering in any researches or work relating to social and scientific projects.
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>